@import '~antd/dist/antd.css';

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 0;
  height: 100vh;
}

.login-page::after {
  content: "";
  position: fixed;
  background-image: url('https://www.asaihotels.com/images/location/banner/en/10');
  background-size: cover;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
  filter: blur(2px);
  z-index: -1;
}


.container {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.login-input {
  margin-top: 20px;
  display: block;
  height: 50px;
  width: 100%;
}

.login-button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-top: 20px;
}










.chat-container {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
}

.chat-container::after {
  content: "";
  position: fixed;
  background-image: url('https://www.asaihotels.com/images/location/banner/en/10');
  background-size: cover;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
  filter: blur(2px);
  z-index: -1;
}

.chat-messages {
  height: calc(100% - 50px);
  overflow-y: scroll;
}

.chat-inputbox {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100vw;
}

.chat-input {
  height: 100%;
}

.chat-messages {
  display: flex;
  flex-direction: column;
}

.message-text {
  max-width: 50%;
  margin-left: 16px;
  margin-right: 16px;
  padding: 10px;
  font-size: 14px;
  background-color: rgb(237, 237, 247);
  color: rgb(84, 92, 96);
  border-radius: 10px;
}

.message-buttons {
  margin-left: 16px;
  margin-right: 16px;
}